{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>

</style>
<div id="wrap">
    <div id="main" class="container clear-top mt-5">

    </div>
</div>
{% endblock %}
