{% extends 'base.html.twig' %}

{% block title %}Moon{% endblock %}

{% block body %}
    <style>
        .moon {
            position: relative;
            display: flex;
            justify-content: center;
            top: 500px
        }

        .moonTitle {
            position: absolute;
            font-size: 40px;
            font-family: 'Pacifico', cursive;
        }


    </style>
    <div class="moon" ontouchstart="">
        <a href="{{ path("homepage")}}" class='moonTitle '>
            <h1 class="">Moon</h1>
        </a>

    </div>
    <script src="../assets/js/three.js"></script>
    <script src="../assets/js/app.js"></script>

    <script>

        var loader = new THREE.FileLoader();
        loader.load( '../assets/json/app.json', function ( text ) {

            var player = new APP.Player();
            player.load( JSON.parse( text ) );
            player.setSize( window.innerWidth, window.innerHeight );
            player.play();

            document.body.appendChild( player.dom );

            window.addEventListener( 'resize', function () {
                player.setSize( window.innerWidth, window.innerHeight );
            } );

        } );

    </script>
{% endblock %}
