{% extends 'base.html.twig' %}

{% block title %}Logo{% endblock %}

{% block body %}
<style>
    body {
        overflow: hidden;
        background-color: black;
    }

    #logo {
        width: 75vw;
    }
</style>
    <div class="wrapper container">
        <img id='logo' class="mx-auto" src="{{asset("assets/images/Blauwmaan.png")}}" alt="">
    </div>
{% endblock %}
