{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="container">
        <main>
            {% if messageEncode is defined %}
                <header class="text-center">
                    <h1>Your message is encoded as</h1>
                    <h3>{{ messageEncode }}</h3>
                </header>

            {% endif %}
            <section class="mt-4 d-flex row">
                <div class="col-3"></div>
                <div class="col-6">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
                <div class="col-3"></div>
            </section>
            {% if messages is defined %}
            <div class="mt-5">
                    {% for message in messages %}
                        {% if message.id is not null %}
                        <section class="row d-flex justify-content-center">
                            <p>{{ message.message }}</p>
                        </section>
                        {% endif %}
                    {% endfor %}
            </div>
            {% endif %}


        </main>
    </section>


{% endblock %}

